<app-navbar></app-navbar>
<div class="container">
    <div class="form-group">
      <label *ngIf="!(user | async)?.uid" for="search"><h1>What are You looking for, stranger:</h1></label>
      <label *ngIf="(user | async)?.uid" for="search"><h1>What are You looking for, {{(user | async)?.displayName}} ?</h1></label>
      <input *ngIf="!checkModel" [(ngModel)]="inputField" (click)="this.inputField = ''" (keypress)="performSearch(searchTerm)" type="text" autocomplete="off" class="form-control" id="search" name="search" #searchTerm>
      <input *ngIf="checkModel" (keypress)="performSearchCollection(searcCol)" type="text" autocomplete="off" class="form-control" id="searcCol" name="search" #searcCol>
    </div>

  <h1 class="text-center" *ngIf="!(user | async)?.uid"> Please Log In to Add Images to Your Own Collection </h1>

  <button class="btn btn-success" *ngIf="(user | async)?.uid" (click)="this.showFavorites = !this.showFavorites" (click)="gifsById()">Display My Collection</button>
    <button class="btn btn-primary pull-right" [(ngModel)]="checkModel" *ngIf="this.showFavorites" btnCheckbox >Search By Collection</button>
  <div class="row" *ngIf="this.giphiesById.length > 0 && this.showFavorites">

    <h1>Your Collection:</h1>
    <masonry>
      <masonry-brick *ngFor="let gi of giphiesById" class="brick">
        <div class="thumbnail">
          <img (click)="staticModal.show()"
               (click)=setSelectedImage(gi.images.original.url)
               data-target="#selectedImageModal"
               src="{{gi.images.preview_webp.url}}">
        </div>
        <div class="caption">
          <p *ngIf="gi.username">Username: {{gi.username}}</p>
          <p>
            ID: {{gi.id}}
            Rating: {{gi.rating}}
            Imported: {{gi.import_datetime}}
            Type: {{gi.type}}
          </p>
          <button class="btn btn-danger" (click)="removeFromFavorites(gi.id)">Remove</button>
        </div>
      </masonry-brick>
    </masonry>
  </div>

  <div class="row">
    <div class="modal fade"
         bsModal
         #staticModal="bs-modal"
         [config]="{backdrop: 'static'}"
         id="selectedImageModal"
         role="dialog"
         aria-hidden="true"
    >

      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img *ngIf="selectedImageUrl" src="{{selectedImageUrl}}" >
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="this.giphies.length > 0">
      <h1>We have found</h1>
    <masonry [useImagesLoaded]="true">
      <masonry-brick  class="brick" *ngFor="let g of giphies">
        <div class="thumbnail">
          <img (click)="staticModal.show()"
               (click)=setSelectedImage(g.images.original.url)
               data-target="#selectedImageModal"
               src="{{g.images.preview_webp.url}}">
        </div>
          <div class="caption">
          <p *ngIf="g.username">Username: {{g.username}}</p>
          <p>
            ID: {{g.id}}
            Rating: {{g.rating}}
            Imported: {{g.import_datetime}}
            Type: {{g.type}}
          </p>
            <button class="btn btn-success" (click)="addToFavorites(g.id)">Add</button>
        </div>
      </masonry-brick>
    </masonry>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-4" *ngIf="this.giphies.length > 0 && inputField!==''">
    <pagination [itemsPerPage]="itemsPerPage" [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
                [boundaryLinks]="false" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>